.divPost {
    margin-top: 20px;
    text-align: center;
    width: 800px;
    justify-content: center;
}

.PostSobre {
    display: flex;
    margin-top: 40px;
    gap: 40px;
}

.sobremim{
    width: 500px;
    text-align: left;
}

.Competencias {
    margin-top: 40px;
}

/* telas */
