.header {
    border-radius: 15px 15px 0px 0px;
    background-color: white;
    border-bottom: 4px solid black;
    display: flex;
    justify-content: start;
}

.div {
    display: flex;
}

.menu {
    display: flex;
    gap: 25px;
    font-size: 40px;
    align-items: center;
    cursor: pointer;

    .text {
        cursor: pointer;

    }

    .text:hover {
        color: #9400D3;
    }
}

.foto {
    display: block;
}

.aviso {
    display: none;
}

/* telas */

@media (max-width: 590px) {
    .menu {
        font-size: 25px;
    }

    .foto {
        width: 70px;
    }
}

@media (max-width: 410px) {
    .foto  {
        display: none;
    }
}

@media (max-width: 350px) {
    .menu {
        font-size: 20px;
    }
}

@media (max-width: 300px) {
    .menu {
        font-size: 15px;
        margin-top: 10px;
    }
}

@media (max-width: 280px) {
    .menu {
        font-size: 15px;
    }

    .header {
        width: 240px;
    }
}

