.menuMain {
    margin-top: 60px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.Links{
    color: white;
    text-decoration: none;
}

.menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: white;
}
.Links:hover {
    transition: 1s;
    color: #9400D3;
}

.menus:hover {
    transition: 1s;
    color: #9400D3;
}

/* telas */
