.divPost {
    padding-top: 20px;
    width: 800px;
}

.PostRoblox {
    text-align: center;
    
    .p {
        text-align: start;
    }
}

/* telas */

@media(max-width: 1360px){

}

@media(max-width: 1020px){

}

@media(max-width: 766px){
    
}

@media(max-width: 647px){
    
}

@media(max-width: 462px){
    
}

@media(max-width: 350px){
    
}

@media(max-width: 340px){
    
}

@media (max-width: 250px){
    
}
